
<!-- Loading spinner -->
<div class="loader-overlay" data-ng-hide="hideLoader">
	<div class="spin-loader" data-ng-class="{'shrink': shrinkOnHide, 'expand': !shrinkOnHide}"></div>
</div>

<div class="mydiv">
	<div class="card">
		<div class="card body">
			<div class="container">
				<div style="margin-bottom: 0.5cm;">
				</div>
			
				<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
				<a class="navbar-brand" href="#">
					<!-- <img src="imgs/brand/calogo.png" width="30" height="30" alt=""> -->
					<h4># Come Stay with Us</h4>
				</a>	
			</div>
			
			<div class="row no-gutters">
				<div class="col">
					<div class="container">
						<div style="margin-bottom: 0.3cm;">
						</div>	
						<form name="bookingForm" ng-submit="confirmBookingForm(bookingForm)" novalidate>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputIdentityNumber">Identity Number/Passport Number</label>
									<input type="text" class="form-control" name="inputIdentityNumber" ng-model="identityNumber" ng-pattern="identityNumberRegex" required>
									<div ng-show="bookingForm.$submitted || bookingForm.inputIdentityNumber.$touched">
										<span ng-show="bookingForm.inputIdentityNumber.$error.required" style="color:red;">required field</span>
										<span ng-show="bookingForm.inputIdentityNumber.$error.pattern" style="color:red;">invalid identity number.</span>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label for="inputEmail">Email Address</label>
									<input type="email" class="form-control" name="inputEmail" placeholder="example@mail.com" ng-model="emailAddress" required>
									<div ng-show="bookingForm.$submitted || bookingForm.inputEmail.$touched">
										<span ng-show="bookingForm.inputEmail.$error.required" style="color:red;">required field</span>
										<span ng-show="!bookingForm.inputEmail.$valid && !bookingForm.inputEmail.$error.required" style="color:red;">invalid email address</span>
									</div>	
								</div>
								<div class="form-group col-md-4">
									<label for="confirmEmail">Confirm Email Address</label>
									<input type="email" class="form-control" name="confirmEmail" placeholder="" ng-model="confirmEmailAddress" required>
									<div ng-show="bookingForm.$submitted || bookingForm.confirmEmail.$touched">
										<span ng-show="bookingForm.confirmEmail.$error.required" style="color:red;">required field</span>
										<span ng-show="!(bookingForm.confirmEmail.$viewValue===bookingForm.inputEmail.$viewValue)" style="color:red;">emails do not match</span>
									</div>	
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputName">Name</label>
									<input type="text" class="form-control" name="inputName" placeholder="" ng-model="name" required>
									<div ng-show="bookingForm.$submitted || bookingForm.inputName.$touched">
										<span ng-show="bookingForm.inputName.$error.required" style="color:red;">required field</span>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label for="inputSurname">Surname</label>
									<input type="text" class="form-control" name="inputSurname" placeholder="" ng-model="surname" required>
									<div ng-show="bookingForm.$submitted || bookingForm.inputSurname.$touched">
										<span ng-show="bookingForm.inputSurname.$error.required" style="color:red;">required field</span>
									</div>
								</div>
								<div class="form-group col-md-4">
									<label for="inputContactNumber">Contact Number</label>
									<input type="text" class="form-control" name="inputContactNumber" placeholder="" ng-model="contactNumber" required>
									<div ng-show="bookingForm.$submitted || bookingForm.inputContactNumber.$touched">
										<span ng-show="bookingForm.inputContactNumber.$error.required" style="color:red;">required field</span>
									</div>
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-5">
									<label for="inputInstitution">Study Institution</label>
									<select name="inputInstitution" class="form-control" ng-model="institution" required>
										<option >University of the Witwatersrand</option>
										<option>Rosebank College</option>
									</select>
								</div>

								<div class="form-group col-md-5">
									<label for="inputFunding">Source of Funding</label>
									<select name="inputFunding" class="form-control" ng-model="funding" required>
										<option >Private/Self Funding</option>
										<option>NSFAS</option>
										<option>Private Sponsor</option>
									</select>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group col-md-4">
									<label for="inputBuilding">Building</label>
									<select name="inputBuilding" class="form-control" ng-model="building" ng-change="getRooms()" ng-options = "building.name for building in buildings" required>
									</select>
									<div ng-show="bookingForm.$submitted || bookingForm.inputBuilding.$touched">
										<span ng-show="bookingForm.inputBuilding.$error.required" style="color:red;">required field</span>
									</div>
								</div>

								<div class="form-group col-md-4">
									<label for="inputGender">Gender</label>
									<select name="inputGender" class="form-control" ng-model="gender" ng-change="getRooms()" required>
										<option >Male</option>
										<option>Female</option>
									</select>
									<div ng-show="bookingForm.$submitted || bookingForm.inputGender.$touched">
										<span ng-show="bookingForm.inputGender.$error.required" style="color:red;">required field</span>
									</div>
								</div>

								<div class="form-group col-md-4">
									<label for="inputRoomType">Room Type</label>
									<select name="inputRoomType" class="form-control" ng-model="roomType" ng-change="getRooms()" required>
										<option >2 Sharing</option>
										<option>3 Sharing</option>
									</select>
									<div ng-show="bookingForm.$submitted || bookingForm.inputRoomType.$touched">
										<span ng-show="bookingForm.inputRoomType.$error.required" style="color:red;">required field</span>
									</div>
								</div>
							</div>

							<div class="form-row">
								<div class="container">
									<nav class="navbar navbar-dark bg-dark">
										<span class="navbar-brand mb-0 h1">Available rooms</span>
									</nav>
	
									<table class="table table-bordered table-hover table-sm">
										<thead >
											<tr>
												<th class="th-sm" ng-repeat="x in columns">{{x}}</th>
											</tr>
										</thead>
										<tr ng-repeat="x in data" ng-click="selectRoom(x)"  ng-class="{'table-warning': x==room}"	>
											<td>{{ x.order }}</td>
											<td>{{ x.building }}</td>
											<td>{{ x.unit_id }}</td>
											<td>{{ x.room_no }}</td>
											<td>{{ x.type }}</td>
											<td>{{ x.price }}</td>
										</tr>
									</table>
									<pagination num-pages="noOfPages" current-page="currentPage" class="pagination"></pagination>
								</div>
							</div>

							<!-- <div class="form-group">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck">
									<label class="form-check-label" for="gridCheck">
										Check me out
									</label>
								</div>
							</div>
							 -->
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>