<!-- div that encloses everything -->
<div>

	<!-- Loading spinner -->
	<div class="loader-overlay" data-ng-hide="hideLoader">
		<div class="spin-loader" data-ng-class="{'shrink': shrinkOnHide, 'expand': !shrinkOnHide}"></div>
	</div>

	<!-- grid effectively since we may want to put other stuff later -->
	<div>
			<!-- form you will see after selection of room and stuff -->
			<div class="row">
				<div class="col">
				</br>
					<div class="container" ng-show="nextForm">
						<form name="detailsForm" ng-submit="FinalizeBooking(detailsForm)"  novalidate>
							<div class="form-group">
								<label for="exampleInputId">Identity number/Passport number</label>
								<input type="text" class="form-control" name="identityNumber" aria-describedby="idHelp"  placeholder="Enter identity number" ng-model="identityNumber" ng-readonly="true">
							</div>

							<div class="form-group">
								<label for="emailAddress">Email address</label>
								<input type="email" class="form-control" id="emailAddress" placeholder="name@example.com" name="email" ng-model="email" required>

								<!-- error handling stuff -->
								<div ng-show="detailsForm.$submitted || detailsForm.email.$touched">
									<span ng-show="detailsForm.email.$error.required" style="color:red;">required field</span>
									<span ng-show="!detailsForm.email.$valid && !detailsForm.email.$error.required" style="color:red;">invalid email address</span>
								</div>
							</div>

							<div class="form-group">
								<label for="confirmEmailAddress">Confirm email address</label>
								<input type="email" class="form-control" id="confirmEmailAddress" placeholder="name@example.com" name="confirmEmail" ng-model="confirmEmail" reqiured>

								<!-- error handling stuff -->
								<div ng-show="detailsForm.$submitted || detailsForm.confirmEmail.$touched">
									<span ng-show="detailsForm.confirmEmail.$error.required" style="color:red;">required field</span>
									<span ng-show="!(detailsForm.confirmEmail.$viewValue===detailsForm.email.$viewValue)" style="color:red;">emails do not match</span>
								</div>
							</div>

							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="name" name="name" ng-model="name" required >
								<!-- error handling stuff -->
								<div ng-show="detailsForm.$submitted || detailsForm.name.$touched">
									<span ng-show="detailsForm.name.$error.required" style="color:red;">required field</span>
								</div>
							</div>

							<div class="form-group">
								<label for="surname">Surname</label>
								<input type="text" class="form-control" id="surname" name="surname" ng-model="surname" required >
								<!-- error handling stuff -->
								<div ng-show="detailsForm.$submitted || detailsForm.surname.$touched">
									<span ng-show="detailsForm.surname.$error.required" style="color:red;">required field</span>
								</div>
							</div>

							<div class="form-group">
								<label for="fundingSelection">Source of funding</label></br>
									<select ng-model="selectedFunding" name="fundingSelection" ng-options="option for option in fundingOptions" required></select>
							
									<!-- error handling stuff -->
								<div ng-show="detailsForm.$submitted || detailsForm.fundingSelection.$touched">
									<span ng-show="detailsForm.fundingSelection.$error.required" style="color:red;">required field</span>
								</div>
							</div>

							<div class="form-group">
								<label for="studyYear">Level of Study</label></br>
									<select ng-model="selectedStudyYear" name="studyYear" ng-options="option for option in studyYears" required></select>
									<!-- error handling stuff -->
								<div ng-show="detailsForm.$submitted || detailsForm.studyYear.$touched">
									<span ng-show="detailsForm.studyYear.$error.required" style="color:red;">required field</span>
								</div>
							</div>

							<div class="form-group">
								<label for="studyInstitution">Study Institution</label></br>
									<select ng-model="selectedStudyInstitution" name="studyInstitution" ng-options="option for option in institutions" required></select>
									<!-- error handling stuff -->
								<div ng-show="detailsForm.$submitted || detailsForm.studyInstitution.$touched">
									<span ng-show="detailsForm.studyInstitution.$error.required" style="color:red;">required field</span>
								</div>
							</div>

							<div class="form-group" >
								<label for="gender">Gender</label>
								<input type="text" class="form-control" ng-model="selectedGender" ng-readonly="true" id="gender" >
							</div>

							<div class="form-group">
								<label for="building">Selected building</label>
								<input type="text" class="form-control" ng-model="selectedBuilding" ng-readonly="true" id="building" >
							</div>

							<div class="form-group">
								<label for="pop">Proof of Payment</label>
								<div class="button" name="pop" ngf-select="uploadFile($file)" ng-model="file" ngf-multiple="false"><button class="btn">Select</button></div>
								<input type="text" class="form-control" ng-model="selectedFile" ng-readonly="true" required>
								<!-- error handling stuff -->
								<div ng-show="detailsForm.$submitted">
									<span ng-show="file==null" style="color:red;">required field</span>
								</div>
								
							</div>

							<div>
							<button class="btn btn-warning" ng-click="goBack()">Previous</button>
							<button type="submit" class="btn btn-warning">Submit</button>
							</div></br>
						</form>
				</div>

				<!-- booking part (room selection and stuff) -->
				<div class="row" ng-show="!nextForm">
					<div class="col">
					</br>
						<div class="container" >
							<form name="bookingForm" ng-submit="submitBookingForm(bookingForm)" novalidate>
								<div class="form-group">
									<label for="exampleInputId">Identity number/Passport number</label>
									<input type="text" class="form-control" name="identityNumber" aria-describedby="idHelp"  placeholder="Enter identity number" ng-model="identityNumber" ng-pattern="regex" required>
									<!-- <small id="idHelp" class="form-text text-muted">We'll never share your identity number with anyone else.</small> -->

									<!-- error handling stuff -->
									<div ng-show="bookingForm.$submitted || bookingForm.identityNumber.$touched">
										<span ng-show="bookingForm.identityNumber.$error.required" style="color:red;">required field</span>
										<span ng-show="bookingForm.identityNumber.$error.pattern" style="color:red;">invalid identity number.</span>
									</div>

								</div>

								<!-- gender radio buttons -->
								<div class="form-group">
									<label for="inputGender">Gender</label>
										<div class="form-group">
											<input type="radio" name='genderSelection' ng-model="selectedGender" value="Male" ng-change="onGenderChange()" required>  Male
											<input type="radio" name='genderSelection' ng-model="selectedGender" value="Female" ng-change="onGenderChange()" required> Female
												<!-- error handling stuff -->
											<div ng-show="bookingForm.$submitted">
												<span ng-show="bookingForm.genderSelection.$error.required" style="color:red;">required field</span>
											</div>
										</div>
								</div>

								<!-- building drop down -->
								<div class="form-group">
									<label for="inputBuilding">Building</label>
										<select ng-model="selectedBuilding" name="buildingSelection" ng-options="building for building in buildings" ng-change="onBuildingChange()" required></select>
										<div ng-show="bookingForm.$submitted">
											<span ng-show="bookingForm.buildingSelection.$error.required" style="color:red;">required field</span>
										</div>
								</div>

								<!-- building drop down -->
								<div class="form-group">
									<label for="inputRoomType">Room type</label>
									<select ng-model="selectedRoomType" name="roomTypeSelection" ng-options="type for type in roomTypes" ng-change="onRoomTypeChange()" required></select>
									<div ng-show="bookingForm.$submitted">
										<span ng-show="bookingForm.roomTypeSelection.$error.required" style="color:red;">required field</span>
									</div>
								</div>

								<!-- available rooms table | actually should be a pagination here -->
								<div>
									<nav class="navbar navbar-light bg-light">
										<span class="navbar-brand mb-0 h1">Available rooms</span>
									</nav>

									<table id="roomTable" class="table table-bordered table-hover table-sm">
										<thead >
											<tr>
												<th class="th-sm" ng-repeat="x in columns">{{x}}</th>
											</tr>
										</thead>

										<tr ng-repeat="x in data" ng-click="selectRoom(x.unit_id,x.room_id)" ng-class="{'table-warning': x.unit_id===selectedUnit && x.room_id===selectedRoom}">
											<td>{{ x.building }}</td>
											<td>{{ x.unit_id }}</td>
											<td>{{ x.room_id }}</td>
											<td>{{ x.type }}</td>
											<td>{{ x.price }}</td>
										</tr>

									</table>
									<pagination num-pages="noOfPages" current-page="currentPage" class="pagination"></pagination>

								</div>

								<!-- next button -->
								<div>
									</br><button type="submit" class="btn btn-warning">Next</button>
								</div></br>

							</form>

					</div>
			
		</div>

	</div>

</div>

