<!-- div that encloses everything -->
<div >
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-light bg-light">
					<span class="navbar-brand mb-0 h1">Building stuff goes here</span>
				</nav>
			</div>
	</div>

	<div class="container"  >
		<div class="row">
			<div class="col">

				<div>
					Campus Africa</br>
					<img src="imgs/buildings/49j.png" width="200" height="200">
				</div>
			
			</div>


			<div class="col">
				<div>
					Campus Africa</br>
					<img src="imgs/buildings/digs.png" width="200" height="200">
				</div>
			
			</div>

			<div class="w-100"></div>
			
			<div class="col">
				<div>
					Campus Africa</br>
					<img src="imgs/buildings/80j.png" width="200" height="200">
				</div>
			</div>
			<div class="col">
				<div>
					Campus Africa</br>
					<img src="imgs/buildings/digs2.png" width="200" height="200">
				</div>
			</div>
		</div>
	</div>
	
</div>

